.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #323232;
  padding: 20px;
}

.content-box {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  max-width: 600px;
  width: 100%;
}
