.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #29286a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.button:hover {
  background-color: #646cff;
}

.button-2 {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ef2020;
  cursor: pointer;
  transition: border-color 0.25s;
}
.button-2:hover {
  background-color: #976919;
}